<div class="card mb-4 shadow-sm">
  <img class="bd-placeholder-img card-img-top p-2" width="100%"
    src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcS2jomnYguK3nvsFB2TBavzlpflzZ2AWYCzDQjkc_r70boQuikbCZgt5kv5rJnR2BDFjXEt83RYs1eqIbM4DLXbhQHNpq5NZ1XuVnLW1xFNkvmzv3ZtpizhuY4&usqp=CAE" />

  <div class="card-body">
    <p class="card-text">
      <strong>{{ 254 | currency:'INR' }}</strong>
    </p>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
      This content is a little bit longer.</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary product-btn">Add to Product</button>
        <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
      </div>
    </div>
  </div>
</div>
